// _variables.scss





// ==================== Type Faces ====================

$header-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;




// ==================== Colour Pallet ====================

$primary-color: #333;